#hw_3 {
    width: 500px;
    margin: auto;
}

#header {
    padding-top: 16px;
    width: 500px;
    margin: auto;
}

h1{
    font-size: 36px;
    margin: 0px;
    padding: 12px;
    padding-bottom: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
}

#container-head {
    border: 1.5px solid black;
    text-align: center;
    width: 414px;
    padding-bottom: 10px;
    margin: auto;
}

a:last-child {
    padding-right: 0px !important;
}

#categories a {
    display: inline-block;
    padding-right: 13px;
    font-style: italic;
    font-size: 8px;
    text-decoration: none;
    color: gray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
}

#content-body {
    width: 472px;
    margin: auto;
}

#content-body > img {
    object-fit: cover;
}

#nature-title {
    margin: auto;
    margin-top: 28px;
    margin-bottom: 6px;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    width: 472px;
    text-align: left;
}

#trademarks {
    margin-top: 18px;
    text-align: center;
    font-size: 6px;
    width: 496px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#footer {
    margin-top: 12px;
    margin-bottom: 10px;
    text-align: center;
    width: 496px;
}

#footer > a {
    padding-right: 8px;
}

#footer > a:last-child {
    padding-right: 0px;
}