#header {
    padding-top: 30px;
    width: 1200px;
}

h1{
    font-size: 56px;
    margin: 0px;
    padding: 18px;
    padding-bottom: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
}

#container-head {
    border: 2px solid black;
    text-align: center;
    margin-left: 408px;
    width: 665px;
    padding-bottom: 20px;
}

a:last-child {
    padding-right: 0px !important;
}

#categories a {
    display: inline-block;
    padding-right: 20px;
    font-style: italic;
    font-size: 13px;
}

#content-body {
    margin-left: 365px;
    width: 900px;
}

#content-body > img {
    margin-right: 4px;
    margin-bottom: 4px;
    object-fit: cover;
}

#nature-title {
    margin-left: 118px;
    margin-top: 50px;
    margin-bottom: 8px;
    font-size: 28px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 550;
    width: 580px;
    text-align: center;
}

#footer {
    margin-top: 24px;
    margin-bottom: 28px;
    text-align: center;
    margin-left: 415px;
    width: 665px;
}

#trademarks {
    margin-top: 28px;
    text-align: center;
    font-size: 10px;
    margin-left: 408px;
    width: 665px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#footer > img {
    padding-right: 16px;
}

a {
    text-decoration: none;
    color: black;
    opacity: 0.6;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 550;
}

#categories > p {
    opacity: 0.8;
}